* {
  margin: 0px;
  padding: 0px;
}

html, body {
  overflow-x: hidden;
}

.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 78vh;
  margin: 38% 6% 10%;
}

.homePage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePage .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePage .timer #timer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #009CD1;
}

.homePage .timer img {
  padding-top: 20px;
}

.homePage h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
}

.homePage .button {
  text-decoration: none;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  background-color: #EF61AB;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 65px;
}

.homePage .t1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.homePage .time {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.bleu {
  /*clip-path: ellipse(69% 26% at 99% 0%);*/
  -webkit-clip-path: ellipse(105% 24% at 114% -6%);
          clip-path: ellipse(105% 24% at 114% -6%);
  background-color: #009CD1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.part2 {
  background-color: #009CD1;
  color: white;
  padding: 12% 10%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part2 h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.part2 .p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0px;
}

.part2 .p2 {
  width: 100%;
}

.part2 .p3 {
  margin: 50px 0px;
}

.prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.prize2 {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prize2 p {
  padding-right: 10px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.item img {
  margin-right: 15px;
  height: 100%;
}

.button2 {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  background-color: #EF61AB;
  color: white;
  border: none;
  padding: 15px 45px;
  font-size: 20px;
  border-radius: 65px;
  text-decoration: none;
}

.button3 {
  margin: 50px 39% 50px 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #EF61AB;
  color: white;
  border: none;
  padding: 15px 45px;
  font-size: 20px;
  border-radius: 65px;
  text-decoration: none;
}

.container2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part4 h2 {
  margin: 50px 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
}

.part4 .prize p {
  font-family: 'Montserrat', sans-serif;
}

.container3 {
  background-color: #009CD1;
}

.container3 h2 {
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
}

.container3 h3, .container3 p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container3 h3 {
  padding: 40px 0px;
}

.container3 .bloc1 {
  padding: 10% 8%;
  background-color: #1887AC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container3 .bloc1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4 {
  background-color: #009CD1;
}

.container4 h2 {
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
}

.container4 h3, .container4 p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container4 h3 {
  padding: 40px 0px;
}

.container4 .bloc1 {
  padding: 10% 8%;
  background-color: #009CD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container4 .bloc1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container5 p {
  padding: 20px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.container5 .scanContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 50px 50px 50px;
}

.container5 .scan1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container5 .scan1 img {
  padding: 10px;
}

.container5 .scan2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container5 .scan2 img {
  padding: 15px;
}

footer {
  background-color: #075E82;
  padding: 4% 8% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 30px 0px;
}

footer img {
  padding: 5px;
}

@media screen and (min-width: 1224px) {
  .homePage {
    height: 67vh;
    margin: 15% 6% 10%;
  }
  .p1, .p2, .p3 {
    width: 50% !important;
  }
  .p1 {
    text-align: center;
  }
  .part2 {
    padding: 2% 10% !important;
  }
  footer {
    padding: 4% 35% 10%;
  }
  .container6 {
    padding: 6%;
  }
  .container3 .bloc1 {
    padding: 5% 35%;
  }
  .container4 .bloc1 {
    padding: 5% 35%;
  }
}
/*# sourceMappingURL=style.css.map */